<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <import resource="Transaction.xml"/>
    <bean id="informService" class="cn.edu.guet.service.impl.InformServiceImpl"/>
    <bean id="studentService" class="cn.edu.guet.service.impl.StudentServiceImpl"/>
    <bean id="userService" class="cn.edu.guet.service.impl.UserServiceImpl"/>
    <bean id="userInfoService" class="cn.edu.guet.service.impl.UserInfoServiceImpl"/>
    <bean id="responseTemplate" class="cn.edu.guet.model.ResponseTemplate" />
    <bean id="teacherInfoChangeService"
          class="cn.edu.guet.service.impl.TeacherInfoChangeServiceImpl"/>
  <bean id="roleService" class="cn.edu.guet.service.impl.RoleServiceImpl"/>
  <bean id="menuService" class="cn.edu.guet.service.impl.MenuServiceImpl"/>

    <bean id="courService" class="cn.edu.guet.service.impl.CourseServiceImpl" />
    <bean id="courInfoService" class="cn.edu.guet.service.impl.CourseInfoServiceImpl" />
    <bean id="classroomInfoService" class="cn.edu.guet.service.impl.ClassroomInfoServiceImpl" />
    <bean id="classroomBuildingService" class="cn.edu.guet.service.impl.ClassroomBuildingServiceImpl" />


</beans>