<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.ClassroomInfoMapper">
	<resultMap id="classroomInfoMap" type="ClassroomInfo">
		<id property="classroomloc" column="CLASSROOMLOC"/>
		<result property="classroomname" column="CLASSROOMNAME"/>

		<association  property="classroomBuilding" javaType="ClassroomBuilding">
			<result property="id" column="ID"/>
			<result property="name" column="NAME"/>
		</association>

	</resultMap>
	<select id="getClassroomInfoByid" resultMap="classroomInfoMap">
        select * from classroom_info ci,classroom_building cb where ci.buildingid=cb.id and classroomloc=#{classroomloc}
    </select>
	<select id="getAllClassroomInfo" resultMap="classroomInfoMap">
        select * from classroom_info ci,classroom_building cb where ci.buildingid=cb.id
    </select>

	<update id="updateClassroomInfo" parameterType="ClassroomInfo">
        update classroom_info ci,classroom_building cb set classroomname=#{classroomname},buildingid=#{classroom_building.id} where where ci.buildingid=cb.id and classroomloc=#{classroomloc}
    </update>

	<insert id="saveClassroomInfo" parameterType="ClassroomInfo">
		insert into classroom_info values (#{classroomloc},#{classroomname})
	</insert>
	<delete id="deleteClassroomInfo">
		delete from classroom_info where classroomloc=#{classroomloc}
	</delete>


</mapper>
