<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.CourseMapper">
	<resultMap id="allCourse" type="course">
	<id column="Lessonno" property="lessonno"/>
		<result column="credit" property="credit" javaType="double"/>
		<result column="period" property="period" javaType="double"/>

	<association  property="teacher" javaType="Teacher">
		<result property="id" column="ID"/>
		<result property="jobtitle" column="JOBTITLE"/>
	</association>


		<association property="courseInfo" javaType="CourseInfo">
			<id property="lessoncode" column="LESSONCODE"/>
			<result property="lessonname" column="LESSONNAME"/>
			<result property="major" column="MAJOR"/>
		</association>

		<association property="classroomInfo" javaType="ClassroomInfo">
			<id property="classroomloc" column="CLASSROOMLOC"/>
			<result property="classroomname" column="CLASSROOMNAME"/>

			<association property="classroomBuilding" javaType="ClassroomBuilding">
				<id property="id" column="ID"/>
				<result property="name" column="NAME"/>
			</association>

		</association>

	</resultMap>

    <select id="getCourseByid" resultMap="allCourse">
		select * from course c,course_info ci,classroom_info cri,classroom_building cb,teacher t
		where c.lessoncode= ci.lessoncode and c.classroomloc = cri.classroomloc and
		cb.id=cri.buildingid and c.teacherid=t.id and c.lessonno=#{lessonno}
	</select>
	<select id="getAllCourse" resultMap="allCourse">
		select * from course c,course_info ci,classroom_info cri,classroom_building cb,teacher t
	</select>
	<update id="updateCourse" parameterType="course">
		update course SET teacherid=#{teacher.id},lessoncode=#{course_info.lessoncode},
		classroomloc=#{classroom_info.classroomloc},credit=#{credit},period=#{period} where
		lessonno=#{lessonno}
	</update>


</mapper>

<!--
		SELECT * FROM course c,course_info coi,classroom_info cli,classroom_building cb,teacher t WHERE c.lessoncode=coi.lessoncode
		and c.classroomloc=cli.classroomloc and cli.buildingid=cb.id and c.teacherid=t.id and c.lessonno=#{lessonno}
	select  userid（数据库的） as id(自己定义的)  from users where userid=#{id}

	-->
